<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="timeUtilJs(flag,url)">
        <input th:value="${name}" class="sb-search-input form-control" placeholder="姓名" id="name" name="name" style="float:left;margin-right: 10px;width:200px;margin-bottom: 10px"/>
        <input th:value="${phone}" class="sb-search-input form-control" placeholder="手机号" id="phone" name="phone" style="float:left;margin-right: 10px;width:200px;margin-bottom: 10px"/>
        <select th:if="${flag == false}" name="doctorId" id="doctorId" class="sb-search-input form-control" style="margin-right: 10px;width:200px;margin-bottom: 10px">
            <option value="" selected="true">--医生选择--</option>
            <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}" th:selected="${doctor.id == doctorId}">Doctor Name</option>
        </select>
        <div class="input-group date form_date col-md-3" data-link-field="dtp_input1" style="float: left">
            <input th:value="${startTime}" class="form-control" id="startTime" name="startTime" size="16" type="text" placeholder="开始时间" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
        </div>
        <div class="input-group date form_date1 col-md-3" data-link-field="dtp_input1" style="float: left;margin-right: 10px">
            <input th:value="${endTime}" class="form-control" id="endTime" name="endTime" size="16" type="text" placeholder="结束时间" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
        </div>
        <a onclick="threeDay()" class="btn btn-warning" style="padding: 0.5em 1em;">三天</a>
        <a onclick="oneWeek()" class="btn btn-warning" style="padding: 0.5em 1em;">一周</a>
        <a onclick="oneMonth()" class="btn btn-warning" style="padding: 0.5em 1em;">一月</a>

        <button type="submit" class="btn btn-primary" style="margin-left:20px;padding: 0.5em 1em;">查询</button>
        <a th:href="${url}" class="btn btn-info" style="padding: 0.5em 1em;">重置</a>
        <script>
            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
            if([[${flag == true}]]){
                $('#phone').css('float','none');
            }

            $('.form_date').datetimepicker({
                format: 'yyyy-mm-dd hh:ii:ss',
                weekStart: 0,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                forceParse: 0,
                showMeridian: 1,
            });
            $('.form_date1').datetimepicker({
                format: 'yyyy-mm-dd hh:mm:ss',
                weekStart: 0,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                forceParse: 0,
                showMeridian: 1,
            });
            if(!$('#startTime').val())
                $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime())).Format("yyyy-MM-dd hh:mm:ss"));
            else {
                $('#startTime').val(new Date($('#startTime').val()).Format("yyyy-MM-dd hh:mm:ss"));
                $('.form_date').datetimepicker('setStartDate', null);
            }
            if(!$('#endTime').val())
                $('#endTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() + 24 * 60 * 60 * 1000 - 1)).Format("yyyy-MM-dd hh:mm:ss"));
            else {
                $('#endTime').val(new Date($('#endTime').val()).Format("yyyy-MM-dd hh:mm:ss"));
                $('.form_date1').datetimepicker('setStartDate', null);
            }

            function threeDay() {
                $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() - 24 * 60 * 60 * 1000 * 2)).Format("yyyy-MM-dd hh:mm:ss"));
            }

            function oneWeek() {
                $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() - 24 * 60 * 60 * 1000 * 6)).Format("yyyy-MM-dd hh:mm:ss"));
            }

            function oneMonth() {
                $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() - 24 * 60 * 60 * 1000 * 30)).Format("yyyy-MM-dd hh:mm:ss"));
            }
        </script>
    </div>
</body>
</html>
