<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head.html::commonHeader">
    <title>添加会员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="common/side_bar.html::sideBar"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>添加会员</h2>
                </div>
                <div class="panel panel-widget forms-panel">
                    <div class="forms">
                        <div class="form-three widget-shadow">
                            <form class="valida form-horizontal" method="post" th:action="@{/add/user}" th:object="${user}">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="name">用户姓名</label>
                                    <div class="col-sm-4">
                                        <input th:value="${old.name}" type="text" name="name" id="name" required="true" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="phone">用户手机号</label>
                                    <div class="col-sm-4">
                                        <input th:value="${old.phone}" type="text" name="phone" id="phone" required="true" class="form-control col-sm-4"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="age">年龄</label>
                                    <div class="col-sm-4">
                                        <input th:value="${old.age}" type="number" name="age" id="age" class="form-control col-sm-4"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-4">
                                        <div class="radio-inline">
                                            <label><input type="radio" name="sex" value="1" checked="true" th:checked="${old.sex == 1}">男</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label><input type="radio" name="sex" value="2" th:checked="${old.sex == 2}">女</label>
                                        </div>
                                    </div>
                                </div>

                                <hr>
                                <p>
                                <div class="col-sm-offset-2">
                                    <span style="font-size: 12px;color: red" th:text="${message}"></span>
                                    <input type="submit" name="sub-1" value="提交" class="btn btn-primary"/>
                                    <input type="reset" name="res-1" id="res-1" value="重置" class="btn btn-danger"/>
                                </div>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <a type="button" th:href="@{/list/user}" class="btn btn_5 btn-lg btn-success warning_1">返回</a>
            </div>
        </div>
    </div>
    <div class="dev-page">
    </div>
</div>
<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>
