<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head.html::commonHeader">
    <title>会员列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="common/side_bar.html::sideBar"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>会员列表</h2>
                </div>
                <div class="panel panel-widget">
                    <div class="search-box"  style="margin-left: 0;margin-bottom: 10px;width:100%">
                        <form class="input" th:action="@{/query/user}" th:method="post" th:object="${queryParam}">
                            <input th:value="${name}" class="sb-search-input form-control" placeholder="姓名" id="name" name="name" style="margin-right: 10px;width:200px;float: left"/>
                            <input th:value="${phone}" class="sb-search-input form-control" placeholder="手机号" id="phone" name="phone" style="margin-right: 10px;width:200px;float: left"/>
                            <button type="submit" class="btn btn-primary" style="padding: 0.5em 1em;">查询</button>
                            <a th:href="@{/list/user}" class="btn btn-info" style="padding: 0.5em 1em;">重置</a>
                        </form>
                    </div>
                    <div class="tables">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>会员姓名</th>
                                <th>手机号</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>会员等级</th>
                                <th>总消费金额</th>
                                <th>就诊次数</th>
                                <th>编辑</th>
                                <th th:if="${#session.getAttribute('user').deptId == 1}">删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <th scope="row" th:text="${user.id}">1</th>
                                <td th:text="${user.name}">neo</td>
                                <td th:text="${user.phone}">Otto</td>
                                <td th:text="${user.age}">6</td>
                                <td th:text="男" th:if="${user.sex == 1}">1</td>
                                <td th:text="女" th:if="${user.sex == 2}">1</td>
                                <td th:text="${user.vipLevel}">6</td>
                                <td th:text="${user.totalConsume}">6</td>
                                <td th:text="${user.visitNum}">6</td>
                                <td><a th:href="@{/toEdit/user(id=${user.id})}">edit</a></td>
                                <td th:if="${#session.getAttribute('user').deptId == 1}"><a th:href="@{/delete/user(id=${user.id})}">delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a type="button" th:href="@{/toAdd/user}" class="btn btn_5 btn-lg btn-success warning_1">添加会员</a>
                <a type="button" th:href="@{/check/user}" class="btn btn_5 btn-lg btn-success warning_1">会员信息检验</a>

            </div>
        </div>
    </div>
    <div class="dev-page"></div>
</div>
<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>
