<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head.html::commonHeader">
    <title>预约记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="common/side_bar.html::sideBar"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>预约记录</h2>
                </div>
                <div class="panel panel-widget">
                    <div class="search-box"  style="margin-left: 0;margin-bottom: 10px;width:100%">
                        <form class="input" th:action="@{/query/appoint}" th:method="post" th:object="${queryParam}">
                            <input th:value="${phone}" class="sb-search-input form-control" placeholder="手机号" id="phone"
                                   name="phone" style="margin-right: 10px;width:200px;margin-bottom: 10px"/>
                            <div class="input-group date form_date col-md-3" data-link-field="dtp_input1"
                                 style="float: left">
                                <input class="form-control" id="startTime" name="startTime" size="16" type="text"
                                       placeholder="开始时间" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <div class="input-group date form_date1 col-md-3" data-link-field="dtp_input1"
                                 style="float: left;margin-right: 10px">
                                <input class="form-control" id="endTime" name="endTime" size="16" type="text"
                                       placeholder="结束时间" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <a onclick="threeDay()" class="btn btn-warning" style="padding: 0.5em 1em;">三天</a>
                            <a onclick="oneWeek()" class="btn btn-warning" style="padding: 0.5em 1em;">一周</a>
                            <a onclick="oneMonth()" class="btn btn-warning" style="padding: 0.5em 1em;">一月</a>

                            <button type="submit" class="btn btn-primary" style="margin-left:20px;padding: 0.5em 1em;">
                                查询
                            </button>
                            <a th:href="@{/list/appoint}" class="btn btn-info" style="padding: 0.5em 1em;">重置</a>

                            <script>
                                Date.prototype.Format = function (fmt) {
                                    var o = {
                                        "M+": this.getMonth() + 1, //月份
                                        "d+": this.getDate(), //日
                                        "h+": this.getHours(), //小时
                                        "m+": this.getMinutes(), //分
                                        "s+": this.getSeconds(), //秒
                                        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                                        "S": this.getMilliseconds() //毫秒
                                    };
                                    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                                    for (var k in o)
                                        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                                    return fmt;
                                }

                                $('.form_date').datetimepicker({
                                    format: 'yyyy-mm-dd hh:ii:ss',
                                    weekStart: 0,
                                    todayBtn: 1,
                                    autoclose: 1,
                                    todayHighlight: 1,
                                    forceParse: 0,
                                    showMeridian: 1,
                                });
                                $('.form_date1').datetimepicker({
                                    format: 'yyyy-mm-dd hh:mm:ss',
                                    weekStart: 0,
                                    todayBtn: 1,
                                    autoclose: 1,
                                    todayHighlight: 1,
                                    forceParse: 0,
                                    showMeridian: 1,
                                });
                                $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime())).Format("yyyy-MM-dd hh:mm:ss"));
                                $('#endTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() + 24 * 60 * 60 * 1000 - 1)).Format("yyyy-MM-dd hh:mm:ss"));

                                function threeDay() {
                                    $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() - 24 * 60 * 60 * 1000 * 2)).Format("yyyy-MM-dd hh:mm:ss"));
                                }

                                function oneWeek() {
                                    $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() - 24 * 60 * 60 * 1000 * 6)).Format("yyyy-MM-dd hh:mm:ss"));
                                }

                                function oneMonth() {
                                    $('#startTime').val((new Date(new Date(new Date().toLocaleDateString()).getTime() - 24 * 60 * 60 * 1000 * 30)).Format("yyyy-MM-dd hh:mm:ss"));
                                }
                            </script>
                        </form>
                    </div>
                    <div class="tables">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>会员姓名</th>
                                <th>手机号</th>
                                <th>预约医生</th>
                                <th>预约时间</th>
                                <th>挂号</th>
                                <!--<th>编辑</th>-->
                                <th th:if="${#session.getAttribute('user').deptId == 1}">删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="appoint : ${appointments}">
                                <th scope="row" th:text="${appoint.id}">1</th>
                                <td th:text="${appoint.userName}">neo</td>
                                <td th:text="${appoint.phone}">Otto</td>
                                <td th:text="${appoint.doctorName}">6</td>
                                <td th:text="${appoint.time}">6</td>
                                <td th:if="${appoint.appointStatus == 0}"><a th:href="@{/toQueue/appoint(id=${appoint.id})}">挂号</a></td>
                                <td th:text="已挂号" th:if="${appoint.appointStatus == 1}">6</td>
                                <td th:if="${#session.getAttribute('user').deptId == 1}"><a th:href="@{/delete/appoint(id=${appoint.id})}">delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a type="button" th:href="@{/toAdd/appoint}" class="btn btn_5 btn-lg btn-success warning_1">添加预约</a>
            </div>
        </div>
    </div>
    <div class="dev-page"></div>
</div>
<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>
