<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head.html::commonHeader">
    <title>消费记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="common/side_bar.html::sideBar"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>消费记录</h2>
                </div>
                <div class="panel panel-widget">
                    <div class="search-box" style="margin-left: 0;margin-bottom: 10px;width:100%">
                        <form class="input" th:action="@{/query/consume}" th:method="post" th:object="${queryParam}">
                            <div th:include="common/time_util.html::timeUtilJs(true,@{/list/consume})"></div>
                        </form>
                    </div>
                    <div class="tables">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>会员姓名</th>
                                <th>手机号</th>
                                <th>消费金额</th>
                                <th>消费时间</th>
                                <th>消费方式</th>
                                <!--<th>订单状态</th>-->
                                <th>编辑</th>
                                <th th:if="${#session.getAttribute('user').deptId == 1}">删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="color: red">
                                <th>统计</th>
                                <th>--</th>
                                <th>--</th>
                                <th th:text="${sum}">--</th>
                                <th>--</th>
                                <th>--</th>
                                <th>--</th>
                            </tr>
                            <tr th:each="consume : ${consumes}">
                                <th scope="row" th:text="${consume.id}">1</th>
                                <td><a th:href="@{/user/consume(id=${consume.userId})}" th:text="${consume.userName}">neo</a></td>
                                <td th:text="${consume.phone}">Otto</td>
                                <td th:text="${consume.money}">6</td>
                                <td th:text="${consume.time}">6</td>
                                <td th:text="${consume.payName}">6</td>
                                <!--<td th:text="${consume.consumeStatus}">6</td>-->
                                <td><a th:href="@{/toEdit/consume(id=${consume.id})}">edit</a></td>
                                <td th:if="${#session.getAttribute('user').deptId == 1}"><a
                                        th:href="@{/delete/consume(id=${consume.id})}">delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a type="button" th:href="@{/toAdd/consume}" class="btn btn_5 btn-lg btn-success warning_1">添加消费记录</a>
            </div>
        </div>
    </div>
    <div class="dev-page">
    </div>
</div>
<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>
