<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head.html::commonHeader">
    <title>就诊记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="common/side_bar.html::sideBar"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>就诊记录</h2>
                </div>
                <div class="panel panel-widget">
                    <div class="search-box"  style="margin-left: 0;margin-bottom: 10px;width:100%">
                        <form class="input" th:action="@{/query/visit}" th:method="post" th:object="${queryParam}">
                            <div th:include="common/time_util.html::timeUtilJs(false,@{/list/visit})"></div>
                        </form>
                    </div>
                    <div class="tables">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>会员姓名</th>
                                <th>手机号</th>
                                <th>就诊医生</th>
                                <th>就诊时间</th>
                                <th>就诊状态</th>
                                <th>病情</th>
                                <th>建议</th>
                                <th>价格</th>
                                <th>编辑</th>
                                <th th:if="${#session.getAttribute('user').deptId == 1}">删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="visit : ${visits}">
                                <th scope="row" th:text="${visit.id}">1</th>
                                <td th:text="${visit.userName}">neo</td>
                                <td th:text="${visit.phone}">neo</td>
                                <td th:text="${visit.doctorName}">Otto</td>
                                <td th:text="${visit.time}">6</td>
                                <td th:if="${visit.status == 0}"><a th:href="@{/toDeal/visit(id=${visit.id})}" th:text="结算">6</a></td>
                                <td th:text="已结算" th:if="${visit.status == 1}">6</td>
                                <td th:text="${visit.description}">6</td>
                                <td th:text="${visit.suggestion}">6</td>
                                <td th:text="${visit.fee}">6</td>
                                <td><a th:href="@{/toEdit/visit(id=${visit.id})}">edit</a></td>
                                <td th:if="${#session.getAttribute('user').deptId == 1}"><a th:href="@{/delete/visit(id=${visit.id})}">delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a type="button" th:href="@{/toAdd/visit}" class="btn btn_5 btn-lg btn-success warning_1">添加就诊记录</a>
            </div>
        </div>
    </div>
    <div class="dev-page"></div>
</div>
<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>
