<!DOCTYPE HTML>
<html xmlns:th=http://www.thymeleaf.org>
<head th:include="common/common_head.html::commonHeader">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<div th:include="common/side_bar.html::sideBar"></div>
		<div id="page-wrapper">
			<div class="main-page">
				<div class="row four-grids">
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-book"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>用户数</h3>
								<p th:text="${user}">452</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-rocket"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>医生数</h3>
								<p th:text="${doctor}">745</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-bar-chart"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>今日预约</h3>
								<p th:text="${appoint}">1</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-user"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>今日就诊</h3>
								<p th:text="${visit}">2</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //four-grids -->
				<!--row-->
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-widget">
							<div class="panel-body">
								<div class="lines-points">
									<div id="example-4" style="height:400px;"></div>
									<script type="text/javascript">
                                        var coChart = echarts.init(document.getElementById('example-4'));
                                        var option = {
                                            title:{
                                                text:'消费统计'
                                            },
                                            tooltip:{},
                                            legend:{
                                                data:['消费金额']
                                            },
                                            xAxis:{
                                                data:[]
                                            },
                                            yAxis:{

                                            },
                                            series:[{
                                                name:'消费金额',
                                                type:'line',
                                                data:[]
                                            }]
                                        }
                                        coChart.showLoading();
                                        coChart.setOption(option);
                                        $.ajax({
                                            url:"/data/con",
                                            success:function(res) {
                                                coChart.hideLoading();
                                                coChart.setOption({
                                                    xAxis: {
                                                        data: res.date
                                                    },
                                                    series: [{
                                                        name: '消费金额',
                                                        data: res.money
                                                    }]
                                                });
                                            }
                                        })
									</script>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>

	</div>
	<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>
