<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head.html::commonHeader">
    <title>医生列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <div th:include="common/side_bar.html::sideBar"></div>
    <div id="page-wrapper">
        <div class="main-page">
            <div class="grids">
                <div class="progressbar-heading grids-heading">
                    <h2>医生列表</h2>
                </div>
                <div class="panel panel-widget">
                    <div class="search-box"  style="margin-left: 0;margin-bottom: 10px;width:100%">
                        <!--<form class="input" th:action="@{/query/user}" th:method="post" th:object="${user}">-->
                            <!--<input class="sb-search-input form-control" required="true" placeholder="手机号" id="phone" name="phone" style="margin-right: 10px;width:200px;float: left"/>-->
                            <!--<button type="submit" class="btn btn-primary" style="padding: 0.5em 1em;">查询</button>-->
                            <!--<a th:href="@{/list/user}" class="btn btn-info" style="padding: 0.5em 1em;">重置</a>-->
                        <!--</form>-->
                    </div>
                    <div class="tables">
                        <table class="table table-bordered text-nowrap" style="table-layout:fixed">
                            <thead>
                            <tr>
                                <th width="8%">#</th>
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>年龄</th>
                                <th>性别</th>
                                <th>职位</th>
                                <th>简介</th>
                                <th>出诊次数</th>
                                <th>价目</th>
                                <th>编辑</th>
                                <th th:if="${#session.getAttribute('user').deptId == 1}">删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="doctor : ${doctors}">
                                <th scope="row" th:text="${doctor.id}">1</th>
                                <td th:text="${doctor.name}">neo</td>
                                <td th:text="${doctor.phone}">Otto</td>
                                <td th:text="${doctor.age}">6</td>
                                <td th:text="男" th:if="${doctor.sex == 1}">1</td>
                                <td th:text="女" th:if="${doctor.sex == 2}">1</td>
                                <td th:text="${doctor.position}">6</td>
                                <td th:text="${doctor.description}">6</td>
                                <td th:text="${doctor.dealNum}">6</td>
                                <td th:text="${doctor.price}">6</td>
                                <td><a th:href="@{/toEdit/doctor(id=${doctor.id})}">edit</a></td>
                                <td th:if="${#session.getAttribute('user').deptId == 1}"><a th:href="@{/delete/doctor(id=${doctor.id})}">delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <a type="button" th:href="@{/toAdd/doctor}" class="btn btn_5 btn-lg btn-success warning_1">添加医生</a>
                <a type="button" th:href="@{/check/doctor}" class="btn btn_5 btn-lg btn-success warning_1">医生信息检验</a>

            </div>
        </div>
    </div>
    <div class="dev-page"></div>
</div>
<div th:include="common/onload_js.html::onloadJS"></div>
</body>
</html>